<div class="row">
  <div class="span12">
    <h5>Hello {{user.attributes.username}}</h2>
    <div class="row">
      <div class="span10">
        <!--
        <p class="lead">Search for a class</p>
        <div class="input-append">
          <input class="span6" id="appendedInputButtons" type="text" placeholder="Search by Course Code or Course Name">
          <button class="btn btn-primary" type="button">Search</button>
          <button class="btn btn-primary" type="button">Advanced Search</button>
        </div>
        -->
        Please choose a university.
      </div>
    </div>
  </div>
</div>