<div class="row">
  <div class="span6">
    <h3 class="subheader">My Profile</h3>
    <p> To edit your profile, simply type in what you would like to change. </p>
    <form>
      <fieldset>
       <!-- <input type="text" placeholder="Username" data-ng-model="user.username" /> -->
       <input type="text" placeholder="Username" data-ng-model="newuser.username" ng-value="{{currentUser.username}}" />
        <input type="text" placeholder="Email" data-ng-model="newuser.email" ng-value="{{currentUser.email}}" />
        <input type="password" placeholder="Password" data-ng-model="newuser.password" ng-value="{{currentUser.password}}" />
        <input type="password" placeholder="Re-enter Password" data-ng-model="newuser.password2" ng-value="{{currentUser.password}}" />
      </fieldset>


      <button class="btn btn-primary" data-ng-click="edit(newuser)">Save Changes</button>
    </form>
  </div>
</div>