<div class="row">
  <div class="span6">
    <h3 class="subheader">My Profile</h3>
    <p> To edit your profile, simply type in what you would like to change. </p>
    <form>
      <fieldset>
       <!-- <input type="text" placeholder="Username" data-ng-model="user.username" /> -->
       <input type="text" placeholder="Username" data-ng-model="user.username" value="{{currentUser.attributes.username}}" />
        <input type="text" placeholder="Email" data-ng-model="user.email" value="{{currentUser.attributes.email}}" />
        <input type="password" placeholder="Password" data-ng-model="user.password" value="{{currentUser.attributes.password}}" />
        <input type="password" placeholder="Re-enter Password" data-ng-model="user.password2" value="{{currentUser.attributes.password}}" />
      </fieldset>


      <button class="btn btn-primary" data-ng-click="edit(user)">Save Changes</button>
    </form>
  </div>
</div>