<div class="row">
  <div class="span6">
    <h3 class="subheader">Register</h3>
  <!--   <form>
      <fieldset>
        <div class="row">
            <input type="text" placeholder="Username" data-ng-model="user.username" />
            <input type="text" placeholder="Email" data-ng-model="user.email" />
            <input type="password" placeholder="Password" data-ng-model="user.password" />
            <input type="password" placeholder="Re-enter Password" data-ng-model="user.password2" />
        </div>
      </fieldset>
      <span>By clicking to register you agree to the <a href="#!/terms">terms of agreement</a></span><br><br>
      <button class="button" data-ng-click="submit(user)">Register</button>
      <a href="/" class="button" type="submit">Cancel</a>
      <pre>
        {{user}}
      </pre>
    </form> -->
    <form>
      <fieldset>
        <input type="text" placeholder="Username" data-ng-model="user.username" />
        <input type="text" placeholder="Email" data-ng-model="user.email" />
        <input type="password" placeholder="Password" data-ng-model="user.password" />
        <input type="password" placeholder="Re-enter Password" data-ng-model="user.password2" />
      </fieldset>

      <span>By clicking to register you agree to the <a href="#/terms">terms of agreement</a></span><br><br>

      <button class="btn btn-primary" data-ng-click="submit(user)">Register</button>
    </form>
  </div>
</div>