<div class="row">
          <!--
          <div class="row">
            <div class="six columns">
              <input type="text" placeholder="First Name" data-ng-model="user.first"/>
            </div>
            <div class="six columns">
              <input type="text" placeholder="Last Name" data-ng-model="user.last"/>
            </div>
          </div>
          -->
          <input type="text" placeholder="Enter Comment!" data-ng-model="comment" />
         
      </div>
    </fieldset>
   
    <button class="button" data-ng-click="submit(comment)">Enter Comment</button>
    <a href="/" class="button" type="submit">Cancel</a>