<div class="row">
          <!--
          <div class="row">
            <div class="six columns">
              <input type="text" placeholder="First Name" data-ng-model="user.first"/>
            </div>
            <div class="six columns">
              <input type="text" placeholder="Last Name" data-ng-model="user.last"/>
            </div>
          </div>
          -->
          <input type="text" placeholder="Enter Comment" data-ng-model="user.comment" />
         
      </div>
    </fieldset>
    <span>By clicking to register you agree to the <a href="#!/terms">terms of agreement</a></span><br><br>
    <button class="button" data-ng-click="submit(user)">Register</button>
    <a href="/" class="button" type="submit">Cancel</a>