<table class="table table-striped">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Verification
            </th>
            <th>
                Delete User
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="some_user in users_array">
            <td>
                <p>
                    {{some_user.username}}
                </p>
            </td>
            <td>
                <p>
                    {{some_user.email}}
                </p>
            </td>
            <td>
                <p>
                    {{some_user.emailVerified}}
                </p>
            </td>
            <td>
                <p>
                    <a class="btn btn-primary" onclick="window.delete('{{some_user.objectId}}')">DELETE {{some_user.username}}</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>

<script>
  window.delete = function(id) {
    console.log(id);
    if (id) {
      $.ajax({
        type: "post",
        url: "/delete/" + id
      }).done(function( msg ) {
        alert( "Data deleted: " + msg );
        window.location.reload();
      });
    }
  }
</script>