<!-- Create a new course -->
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Welcome {{user.attributes.username | capitalize}}</h4>
  We are currently in beta. If you can't find a course, you can make a new submission to our database <a href="#/create">here</a>!
</div>

<!-- Search Bar -->
<div class="row">
  <div class="span12">
    <h4>Search for a Course</h4>
    <div class="input-append">
      <input ng-model="search" class="span6" id="appendedInputButtons" type="text" placeholder="Search by Course Code or Course Name">
      <button class="btn btn-primary" type="button">Search</button>
      <!-- <button class="btn btn-primary" type="button">Advanced Search</button> -->
    </div>
  </div>
</div>

<br/>


<!-- List of Courses for review -->
<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Course Code</th>
      <th>Course Number</th>
      <th>Course Title</th>
      <th>Course Profs</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="course in courses | filter: search" onClick="window.open('#/courses/{{course.objectId}}','_self')" style="cursor: pointer; cursor: hand;">
        <td>{{course.code}}</td>
        <td>{{course.number}}</td>
        <td>{{course.title}}</td>
        <td>{{course.profs | professor_list3}}</td>
    </tr>
  </tbody>
  <tbody id="courses">

  </tbody>
</table>

<br/>

<!-- Top Rated Courses -->
<div class="row">
  <div class="span6">
    <h4 class="subheader">Top Rated Courses</h4>
    <ul class="disc">
      <li><a href="#">ARA 1991 - Applied Linguistic Anthropology</a></li>
      <li><a href="#">ECE 2012 - Electric Circuits 2</a></li>
      <li><a href="#">ECN 2205 - Non-Cooperative Game Theory</a></li>
    </ul>
  </div>
</div>